include ../page-list/_page-list
include ../_head
include ../_header
include ../_footer

include ../_buttons
include ../_input
include ../_checkbox
include ../_radio
include ../_selectbox
include ../_textarea

doctype html
html(lang='en')
  head
    block head

  body
    block body

    block scripts
      script(src='js/main.js')
